
.label{
     height: 40px;
     width: 80px;
     background-color: lightgray;
     position: absolute;
     border: 2px solid black;
     border-radius: 50px;
     cursor: pointer;
}

.input{
     visibility: hidden;
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
}

.circle{
     width: 40px;
     background-color: whitesmoke;
     height: 40px;
     border-radius: 50px;
     left: 3px;
     animation: toggleOff .4s linear forwards ;
}

.input:checked{
     background-color:salmon;
}

.input:checked + label .circle{
     animation: toggleOn .4s linear forwards;
     background-color: black;
}

@keyframes toggleOn {
     0%{
          transform: translate(0);
     }
     100%{
          transform: translate(40px);
     }   
}
@keyframes toggleOff {
     0%{
          transform: translate(40px);
     }
     100%{
          transform: translate(0);
     } 
}